<div class="button-section">
    <div class="route-button" *ngIf="showButton">
        <app-route-button [routePath]="routePath" [buttonText]="'Create'"></app-route-button>
    </div>
    
    <div class="pagination-buttons">
        <button type="button" (click)="handlePrevPageButton()" [disabled]="pageIndex == 0">Prev</button>
        <button type="button" (click)="handleNextPageButton()" [disabled]="pageIndex * pageSize >= tableData.length - pageSize">Next</button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th *ngFor="let columnHeader of columnHeaders">
                <strong>{{ columnHeader }}</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tableData | slice: (pageIndex * pageSize):(pageIndex * pageSize + pageSize)">
            <ng-container *ngFor="let key of keys">
                <td *ngIf="isRoutingElement(item[key])">
                    <strong class="details-link" [routerLink]="item[key].routePath" [queryParams]="item[key].queryParams">CLICK</strong>
                </td>
                <td *ngIf="!isRoutingElement(item[key])">{{ (isValidDate(item[key]) ? (item[key] | date: 'EEEE, MMMM d, y, h:mm:ss a') : (item[key])) | nullReplace }}</td>
            </ng-container>
        </tr>
    </tbody>
</table>