table {
    width: 100%;
}

table thead th {
    text-align: left;
    background-color: #00ADB5;
    border: 1px #393E46;
    color: white;
}

table thead th:first-child {
    text-align: center;
}

table thead th:last-child {
    text-align: center;
}

table tbody td {
    background-color: #EEEEEE;
    border: 1px #393E46;

    font-size: medium;
    height: 20px;
}

table tbody td:first-child {
    text-align: center;
}

table tbody td:last-child {
    text-align: center;
}

.button-section {
    display: flex;
    margin-top: 15px;
}

.pagination-buttons {
    margin-bottom: 10px;
}

.pagination-buttons button {
    margin-top: 0 5px;
}

.pagination-buttons button:disabled {
    margin-top: 0 5px;
}

.pagination-buttons:last-child {
    margin-right: 0px;
}

.route-button{
    flex: 1;
}

.route-button button {
    margin-bottom: 10px;
}

.details-link:hover {
    color: black;
}

.details-link:hover {
    color: gray;
}