<b *ngIf="categoryId; else itemCreating">Category Details</b>

<ng-template #itemCreating>
    <b>Creating New Category</b>
</ng-template>

<div>
    <label>ID:</label>
    <div class="form-control">
        <label>{{categoryId}}</label>
    </div>
</div>

<div>
    <label>Name:</label>
    <div class="form-control">
        <input type="text" [(ngModel)]="categoryItem.name" required #title="ngModel" />
    </div>
</div>

<div>
    <label>Creation Date:</label>
    <div class="form-control">
        <input type="date" [ngModel]="date" (ngModelChange)="handleDateChange($event)" />
        <input type="time" [ngModel]="time" (ngModelChange)="handleTimeChange($event)" />
    </div>
</div>

<div [hidden]="totalPostCount < 0">
    <label>Total Pos Count:</label>
    <div class="form-control">
        <label>
            {{totalPostCount}}
        </label>
        <button [routerLink]="'/posts'" [queryParams]="{category_id: categoryId}">Show Posts</button>
    </div>
</div>

<button type="button" [disabled]="isButtonDisabled" (click)="handleSaveItem()">Save</button>