<div>
    <label class="form-control">ID: {{commentId}}</label>
</div>

<div>
    <label>Comment:</label>
    <div class="form-control">
        <input type="text" [(ngModel)]="commentItem.comment" required #title="ngModel" />
    </div>
</div>

<div>
    <label>Username:</label>
    <div class="form-control">
        <select [(ngModel)]="commentItem.user_id" [value]="commentItem.user_id">
            <option *ngFor="let item of users" value="{{item.user_id}}">{{item.username}}</option>
        </select>
    </div>
</div>

<div>
    <label>Post Id:</label>
    <div class="form-control">
        <select [(ngModel)]="commentItem.post_id" [value]="commentItem.post_id">
            <option *ngFor="let item of posts" value="{{item.post_id}}">{{item.post_id}}</option>
        </select>
    </div>
</div>

<div>
    <label>Creation Date:</label>
    <div class="form-control">
        <input type="date" [ngModel]="date" (ngModelChange)="handleDateChange($event)"/>
        <input type="time" [ngModel]="time" (ngModelChange)="handleTimeChange($event)"/>
    </div>
</div>

<div>
    <label for="isActive">Is Confirmed:</label>
    <div class="form-control">
        <input type="checkbox" [(ngModel)]="isConfirmed">
    </div>
</div>

<button type="button" [disabled]="isButtonDisabled" (click)="handleSaveItem()">Save</button>
<button type="button" [disabled]="isButtonDisabled" (click)="handleDeleteItem()">Delete</button>