div {
    margin: 10px 0;
}

b {
    color: white;
}

label {
    width: 150px;
    display: inline-block;
}

.form-control {
    display: inline-block;
    width: 300px;
}

.form-control input[type=text] {
    width: 100%;
}

.form-control input[type=date] {
    width: 56%;
}

.form-control input[type=time] {
    width: 40%;
}

button{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 5px;
}