body {
    background-color: #222831;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/Roboto-Regular.ttf');
}

thead th {
    font-family: 'RobotoRegular';
}

tbody td {
    font-family: 'RobotoRegular';
}

button {
    font-family: 'RobotoRegular';
    background-color: #393E46;
    color: white;
    font-size: small;
}

button:hover {
    background-color: #00ADB5;
}

button:disabled {
    background-color: #393E46;
    color: black;
}

label {
    font-family: 'RobotoRegular';
    color: white;
}

b {
    font-family: 'RobotoRegular';
    color: white;
}