body {
    background-color: #222831;
}

@font-face {
    font-family: 'RobotoRegularFont';
    src: url('/assets/Roboto-Regular.ttf');
}

thead th {
    font-family: 'RobotoRegularFont';
}

tbody td {
    font-family: 'RobotoRegularFont';
}

button{
    font-family: 'RobotoRegularFont';
    background-color: #393E46;
    color: white;
    font-size: small;
}

button:disabled{
    background-color: #393E46;
    color: black;
}